.blog-details img{
    margin-bottom: 35px;
}
.blog-content h2 {
    font-size: 28px;
    margin-bottom: 16px;
}
.blog-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

.blog-content span {
    background: transparent;
    color: #e51a4b;
    border: none;
    cursor: pointer;
}

.blog-content span  .b-icon{
    margin-left: 10px;
    color: lightgreen;

}